body { 
    background-color: #f8f9fa; 
    font-family: Spectral;
}
main{
    margin-top: 78px;
}
h1{
    text-align: center;
    font-size: 50px;
    color: #6c757d;
}
h2{
    text-align: center;
    font-size: 30px;
    color: #6c757d;
}
h3{
    text-align: center;
    font-size: 20px;
    color: #6c757d;
}
h4{
    text-align: center;
    font-size: 15px;
    color: #6c757d;
}
/* Responsive Carousel Height */
.carousel-item img {
    height: 90vh; /* 60% of screen height */
    object-fit: cover; /* Prevents stretching */
}
@media (max-width: 768px) {
    .carousel-item img { height: 40vh; } /* Shorter on mobile */
}
.justify { text-align: justify; }
.activity-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
}