.skill-card { 
    transition: all 0.3s ease; 
    border: none; 
}
.skill-card:hover { 
    transform: translateY(-10px); 
    box-shadow: 0 10px 25px rgba(0,0,0,0.1) !important; 
    background-color: #ffffff; 
}
.adobe-icon { 
    font-size: 3rem; 
    margin-bottom: 15px; 
}
.ps-color { 
    color: #31A8FF; 
} 
/* Photoshop Blue */
.ai-color { 
    color: #FF9A00; 
} 
/* Illustrator Orange */
.pr-color { 
    color: #EA77FF; 
} 
/* Premiere Purple */
.ae-color { 
    color: #D191FF; 
} 
/* After Effects Violet */